# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs text diff=csharp
*.xaml text
*.csproj text
*.sln text

# Treated as binary
*.item -text

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary