bin
obj
*.suo
*.user
/source/packages
/source/Presentation.Web/TransformedConfigs
publish.token
DEV_CD_TEMP
DEV_CM_TEMP
UAT_CD_TEMP
UAT_CM_TEMP
CLIENT_UAT_CD_TEMP
CLIENT_UAT_CM_TEMP
LIVE_CM_TEMP
LIVE_CD_TEMP
prepros.cfg
source/Presentation.Web.zip
*.zip
Sitecore.Rocks.TemplateWizard.dll
source/.vs/config/applicationhost.config
source/.vs/JLT/DesignTimeBuild/.dtbcache
source/.vs/JLT/v15/Server/sqlite3/db.lock
source/.vs/JLT/v15/Server/sqlite3/storage.ide
source/.vs/JLT/v15/Server/sqlite3/storage.ide-shm
source/.vs/JLT/v15/Server/sqlite3/storage.ide-wal
source/.vs/config/applicationhost.config
/source/ServicesModule/Helper/IdentifyXdbContact.cs
/source/SitecoreModule/RichTextEditor/Pipeline/EmailExperienceCustomLinks.cs
/source/SitecoreModule/RichTextEditor/Pipeline
source/.vs/config/applicationhost.config
source/.vs/config/applicationhost.config
